<%- include("../partials/header")%>
<div class="container">
	<div class="row">
		<h1 style="text-align:center;"> Add New Comment to <%=camp.name%> </h1>
		<div style="width:30%;margin:0 auto;">
			<form  action="/camp/<%=camp._id%>/comments" method="POST">
				<input class="form-control" type="text" name="comment[text]" placeholder="text">
				<button class="btn btn-large btn-primary btn-block">Submit</button>
			</form>
			<a href="/camp">Go Back</a>
		</div>	
	</div>		
</div>
			



<%- include("../partials/footer")%>